<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>修改交易密码</title>
    <link rel="stylesheet" href="../../lib/iconfont2/iconfont.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/new/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/new/editDealPass.css">
    <script type="text/javascript" src="../../script/lib-flexible.js"></script>
</head>

<body class="has_header ">
    <div id="change_password" class='editDealPass' v-cloak>
        <header class="header">
            <i class="iconfont icon-xiangzuo" onclick="goBack()"></i>
            <div v-if="isShow==1">{{langContent.title1?langContent.title1:''}}</div>
            <div v-if="isShow==2">{{langContent.title2?langContent.title2:''}}</div>
        </header>
        <div class="h88"></div>
        <div class="content2">
            <div class="li">
                <label for="">{{langContent.old?langContent.old:''}}</label>
                <input type="password" :placeholder="langContent.old_input" v-model="info.pwd">
            </div>
            <div class="li">
                <label for="">{{langContent.new?langContent.new:''}}</label>
                <input type="password" :placeholder="langContent.new_input" v-model="info.newPwd">
            </div>
            <div class="li">
                <label for="">{{langContent.reset?langContent.reset:''}}</label>
                <input type="password" :placeholder="langContent.reset_input" v-model="info.rePwd">
            </div>
            <div class="wj col00d3fc" v-if="isShow==1" @click="toPage('forget','../auth/forget.html',{isShow:1})">{{langContent.forget1?langContent.forget1:''}}</div>
            <div class="wj col00d3fc" v-if="isShow==2" @click="toPage('forget','../auth/forget.html',{isShow:2})">{{langContent.forget1?langContent.forget2:''}}</div>
        </div>
        <div class="btn" @click="submit">提交</div>
    </div>
</body>

</html>
<script type="text/javascript" src="../../lib/language/multi-lang-es5.js"></script>
<script type="text/javascript" src="../../lib/language/languageJson.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../lib/vue/vue.js"></script>
<script type="text/javascript" src="../../script/rsa.js"></script>
<script type="text/javascript" src="../../script/aes.js"></script>
<script type="text/javascript" src="../../script/const.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript">
    var change_password = new Vue({
        el: "#change_password",
        data: {
            isShow: '',
            info: {
                pwd: '',
                newPwd: '',
                rePwd: '',
            },
            langContent: {},
        },
        created: function() {
            var that = this
            apiready = function() {
                var height = $api.fixStatusBar($api.dom('.header'))
                if (height > 0) {
                    $api.css($api.dom('.cont'), 'margin-top:' + (height - 45) + 'px;');
                }
                that.isShow = api.pageParam.isShow;
                change_password.$data.langContent = GlobleLanguageContent.change_password;
            }
        },
        methods: {
            toPage: function(name, url, params) {
                api.openWin({
                    name: name,
                    url: url,
                    reload: true,
                    allowEdit: true,
                    pageParam: params || {}
                });
            },
            submit: function() {
                var that = this
                var param
                    // console.log((that.info'['+key+']')
                if (that.info.pws == '' || that.info.newPwd == '' || that.info.rePwd == '') {
                    api.toast({
                        msg: that.langContent.info,
                        duration: 2000,
                        location: 'bottom'
                    });
                    return;
                } else {
                    if (that.isShow == 1) {
                        param = {
                            password: that.info.pwd,
                            new_password: that.info.newPwd,
                            reset_password: that.info.rePwd,
                            field_name: 'password'
                        }
                    } else {
                        param = {
                            password: that.info.pwd,
                            new_password: that.info.newPwd,
                            reset_password: that.info.rePwd,
                            field_name: 'paypwd'
                        }
                    }
                }
                http(updatePwdUrl, 'post', param, function(ret) {
                    if (ret.code == 200) {
                        api.toast({
                            msg: that.langContent.scucess,
                            duration: 2000,
                            location: 'bottom'
                        });
                        setTimeout(function() {
                            goBack()
                        }, 1500);
                    }
                })

            }
        }
    })
</script>
