html, body{
    height: 100%;
}
.register {
    height: 100%;
    background-image: url('../image/register.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contarin{
    width: 6.77rem;
    margin: 0 auto;
    padding-top: 4.36rem;
    font-size: 0.24rem;
}
.contarin .ul{
    background-color: #ffffff;
    padding: 0 0.38rem 0.45rem;
    border-bottom-left-radius: 0.12rem;
    border-bottom-right-radius: 0.12rem;
}
.contarin .ul .li{
    padding: 0.38rem 0.62rem 0.22rem;
    border-bottom: 0.02rem solid #afb9f3;
    position: relative;
}
.contarin .ul .pic, .contarin .ul .tel{
    padding-right: 2rem;
    position: relative;
}
.pic .picRight, .tel .picRight{
    width: 3.4rem;
    border-right: 0.01rem solid #ccc;
}
.pic span, .tel span{
    position: absolute;
    right: 0.43rem;
    top: 0.4rem;
    width: 1.19rem;
    height: 0.4rem;
    z-index: 9999;
}
.tel span {
    right: 0;
    width: 2rem;
    text-align: center;
}
.phone::before{
    content: '';
    position: absolute;
    width: 0.22rem;
    height: 0.31rem;
    left: 0.17rem;
    top: 0.4rem;
    background-image: url(../image/a1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.pic::before{
    content: '';
    position: absolute;
    width: 0.34rem;
    height: 0.30rem;
    left: 0.11rem;
    top: 0.4rem;
    background-image: url(../image/a2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.tel::before{
    content: '';
    position: absolute;
    width: 0.24rem;
    height: 0.32rem;
    left: 0.17rem;
    top: 0.4rem;
    background-image: url(../image/a3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ps::before{
    content: '';
    position: absolute;
    width: 0.27rem;
    height: 0.31rem;
    left: 0.17rem;
    top: 0.4rem;
    background-image: url(../image/a4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.confirmPs::before{
    content: '';
    position: absolute;
    width: 0.27rem;
    height: 0.31rem;
    left: 0.17rem;
    top: 0.4rem;
    background-image: url(../image/a4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.code::before{
    content: '';
    position: absolute;
    width: 0.32rem;
    height: 0.21rem;
    left: 0.12rem;
    top: 0.45rem;
    background-image: url(../image/a5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.agree span{
    padding: 0.33rem 0;
    color: #b2bae2;
}
.btn{
    color: #0e2edc;
    height: 0.83rem;
    line-height: 0.83rem;
    font-size: 0.36rem;
    text-align: center;
    border-radius: 0.83rem;
    background-image: linear-gradient(#1fe1ff, #007ff7);
    cursor: pointer;
}
.van-checkbox__icon{
    height: 0.26rem;
}
.van-checkbox__icon .van-icon{
    width: 0.26rem;
    height: 0.26rem;
    font-size: 0.24rem;
    box-sizing: content-box;
    line-height: initial
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{ 
    color:#b2bae2; 
}
input:-moz-placeholder,textarea:-moz-placeholder{ 
    color:#b2bae2; 
}
input::-moz-placeholder,textarea::-moz-placeholder{ 
    color:#b2bae2; 
} 
input:-ms-input-placeholder,textarea:-ms-input-placeholder{ 
    color:#b2bae2; 
}