<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>发布须知</title>
    <link rel="stylesheet" href="../../lib/iconfont2/iconfont.css">
    <link rel="stylesheet" href="../../css/common.css">
    <style>
        html,
        body {
            /* height: 100%; */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            background-color: #fff;
            color: rgba(5, 5, 5, 0.918);
        }

        ul {
            padding: 0rem 1rem;
        }

        li {
            list-style: disc;
            padding-bottom: 1rem;
        }

        span {
            margin-left: 1rem;
            font-size: 16px;
            /* color: #B3A795; */
            color: #ccc;
        }

        strong {
            margin-left: .8rem;
        }

        b {
            color: rgba(248, 204, 8, 0.932);
        }

        .retracts {
            margin-left: .8rem;
        }
    </style>
</head>

<body class="has_header bg_white">
    <div id="hot_agreement" v-cloak>
        <header class="header bbd">
            <i class="iconfont icon-xiangzuo color_default1" onclick="goBack()"></i>
            <div>{{langContent.title?langContent.title:''}}</div>
        </header>
        <div class="cont fontSize14 padding1" style=" color: #666666;">
            <div style="height: 1rem"></div>
            <ul>
                <li v-for="obj in langContent.lilist" v-html="obj"></li>
                <!-- <li>为使用"YU+”服务(以下简称“本服务”)，您应阅读并遵守《“见习HDC”服务协议》、（以下简称“本协议”），以及 <b>《“见习HDC”用户协议》</b>、<b>《“见习HDC”隐私政策》</b>、《见习HDC平台认证服务协议》、（针对“见习HDC”已认证用户适用）、以及 “见习HDC”平台不时公布的其它各项制度规范。</li>
                <li>您除遵守本协议外，还需遵守《中华人民共和国著作权法》、《中国人民共和国商标法》、《中国人民共和国专利法》、《中国人民共和国广告法》、《互联网广告管理暂行办法》等中国人民共和国法律、法规等规章制度</li>
                <li>除非您已经阅读并接受本协议全部条款，否则，您无权使用本服务。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。您在线勾选同意本协议之效力如同您亲自签字、盖章签署的协议一样，对您具有法律约束力，您对本服务的使用等行为也视为您已同意本协议的约束。</li>
                <li><u style="font-weight: 800;">如果您未满18周岁，YU+ 将拒绝为规提供进一步服务。如想获取YU+ 服务，请由您的法定监护人创建账户，以获取相关服务。</u></li>
                <li>本协议由您与“见习HDC”在您同意勾选“我已阅读并同意”本服务协议(或其他类似字样)并使用本服务之时，在北京市签著。</li> -->
            </ul>






            <div v-for="item in langContent.content">
                <span><strong>{{item.tle?item.tle:''}}</strong></span>
                <ul>
                    <li v-for="con in item.list" v-html="con"></li>
                </ul>
            </div>
            <!-- <span>一. <strong>“YU+”服务定义</strong> </span>
            <ul>
                <li>1、“YU+” 服务是“见习HDC”为用户提供的一项付费服务，如需使用，您需要登录您已经开通的“见习HDC”平台用户账号。您理解并同意，为了符合国家相关法律法规问题和政策的要求，“见习HDC”有权选择是否为您开通本服务</li>
            </ul>

            <span>二. <strong>服务内容</strong> </span>
            <ul>
                <li>1、“YU+”服务以综合利用各种技术手段增加您感兴趣的内容的展示量和播放量为目的。</li>
                <li>2、在开潘本服务后，您有权在“见习HDC“平台后台系统（以下统一简称“系统”）中自行进行“YU+”服务的下单操作(包括但不限于设定YU+内容和选择投放金额等)。您需仔细阅读并遵守系统的操作规则，井对您的操作行为负责。</li>
                <li>3、您应当按照系统的规则设定YU+内容。通过“YU+”服务推荐内容应当是“见习HDC”平台中已经正常发布的内容，且不得将本服务用于任何产品或服务的广告推广。</li>
                <li>4、本服务根据实际展示效果计算服务费，展示效果的方式及价格标准、优惠政策以系统后台的展示为准，“见习HDC”不对您使用本服务后的展现量、播放量、互动量等效果作任何明示或者暗示的承诺。</li>
                <li>5、为符合市场或相关规定的需求，“见习HDC”有权根据实际运营情况对本服务收费依据、定价标准进行设定或调整，您可通过登陆系統后台查阅。</li>
            </ul>
            <span>三. <strong>用户的权利与义务</strong> </span>
            <ul>
                <li>1、您有权通过本系统查询所获得的服务内容。</li>
                <li>2、您应妥善保管系统怅号的用户名及其密码，并对该账号下的一切操作行为负责。若发现有人冒用或盗用您的账号或任何其他未经您合法授权而使用本服务的情形的，应立即以有效方式告知“见习HDC”事实情况及您的要求，井提供包括但不限于您的身份资料、企业登记法册文件等材料证明您的身份。在收到您的有效请求并核实身份后。“见习HDC”会根据不同情况采取相关措施。若因您未及时通知“见习HDC”或您提供的信息不完全导致“见习HDC”无法进行及时处理的,您应当自行承担相应的损失。同时您现解并同意“见习HDC”采取措施需要合理期限，在措施生效之前，因他人行为对您造成的损失，“见习HDC”不承担责任。</li>
                <li>3、您保证：您对白己设定和提交YU+内容已获得所必须的全部权利。该等YU+内容不含违反法律法规、侵犯他人合法权益以及有违公序良俗的内容或指向这些内容的信息。</li>
                <li>4、您保证：您推广YU+内容符合中华人民共和国法律、行政法规和部门规章的规定，并且同时符合"见习HDC"平台公示的各项规则。</li>
                <li>5、若YU+内容违反法律、行政法规和部门规章的规定或"见习HDC"平台公示的各项规则的，或者YU+内容侵害第三方合法权益的，应由您自行承担全部责任。若因此导致见习HDC损失的,见习HDC有权终止您使出本服务的权利并将您的预付款余软作为违约金收取不予退还，同时您应向见习HDC足额赔偿该等损失(包括但不限于见习HDC向第三方的赔偿、向国家机关缴纳的罚款、诉讼费和合理的律师费等)。</li>
                <li>6、若见习HDC对YU+内容的合法性或权利来源存在任何疑问,您应当按照见习HDC的要求供相关证据充分证明YU+内容的合法权利来源，在疑问澄清之前，见习HDC有权暂停向您供本服务</li>
                <li>7、本服务经由系统后台所形成的数据（以下简称“版务数据”）归见习HDC所有，属于商业秘密。未经见习HDC事先书面许可，您不得以履行本协议之外的目的获取和使用服务数据，亦不得以任何方式将服务数据披露或泄露给任何第三方。</li>
                <li>8、如您对本服务的履行存任位何疑门,建议您通过“见习HDC”平台客户端的“反馈与帮助”入口进行咨询。</li>
            </ul>
            <span>四. <strong>见习HDC的权利与义务</strong> </span>
            <ul>
                <li>1、见习HDC会根据您选择的服务以及计费方式等情况向您提供相应的服务。</li>
                <li>2、关于本协议项下服务的使用规则、服务条款等可由见习HDC随时更新，相关内容一旦发生变更，见习HDC将公示修改内容，修改后的内容一经公示既有效代替原有的条款，若您不接受发生变更的条款内容，您应当停止继续使出本服务；若您继续使用本服务，视为您接收修改后的协议条款</li>
                <li>3、您理解并同意，见习HDC发现您推广的YU+内容违反本协议约定的,有权采取以下一项或多项措施；</li>
                <li>3.（1）无论见习HDC是否事先进行通知、提示，均有权根据前述判断决定您的内容是否可以使YU+服务或者继续使YU+服务；</li>
                <li>3.（2）要求您提供材料以证明您行为的合法性；</li>
                <li>3.（3）对您推广的YU+内容予以下线或采取其他屏蔽措施；</li>
                <li>3.（4）依照“见习HDC"平台发布的各项违规处罚规则，对您的帐号进行惩处，将您的行为对外予以公告；</li>
                <li>3.（5）按照法律规定追究您的法律责任。</li>
                <li>见习HDC的上述行为并不意味着见习HDC对于您推广的YU+内容的合法合规性作出任何承诺或担保，也不构成见习HDC与您或您推广的YU+内容存在任何连带责任，见习HDC已作为网络服务提供者为您提供网络存储空间，您应当对您推广YU+内容独立负责。</li>
                <li>4、见习HDC将向您提供服务数据查询的统计服务，您通过登陆系统后台可查询您使用本服务的相关信息。系统在每次“YU+”服务履行完毕前提供的相关统计信息仅供参考，最终数据以每次“YU+”服务履行完毕后系统结算的数据为准。</li>
                <li>5、见习HDC负责本服务系统的开发运营和维护，若非见习HDC原因造成的系统服务的故障、间断和延时，见习HDC不承担任何责任。</li>
                <li>6、见习HDC依法对系统的技术平台、接口、相关内容及名称享有所有权和知识产权，该知识产权任何情况下均不发生任何形式的转移。</li>
                <li>7、您理解并同意，为了更好地为您和其他用户提供本服务，见习HDC有可能对相关服务数据进行整理、分析并用于进一步优化或拓宽本服务；见习HDC也可能会出于运营需要将您的使用情况作为YU+案例进行展示。</li>
            </ul>
            <span>五. <strong>结算条款</strong> </span>
            <ul>
                <li style="font-size: 16px; margin-left: .8rem;">(一) 收费标准及收费方式</li>
                <li>1、见习HDC将按照您在系统后台选择的具体服务内容即时结算并扣减费用。“YU+”服务费的预付款，阻止您选择本服务时，预先将“YU+”服务费支付给见习HDC。单次预付款金额不设上限，最低金额由见习HDC确定并通过系统后台公布；如您是公司，必须通过您的公司账户向见习HDC支付费用。</li>
                <li>2、服务费用的支付，仅限于您有登陆“见习HDC”平台系统账户情况下按照系统后台提示的支付方式进行支付，其他支付渠道所进行的支付无效。支付由第三方支付机构提供服务，您理解并同意，由丁支付系统的数据交换可能存在网络延迟，您的预付款金额可能不会实时显示在您的后台系统中，如您在支付过程中出现任何纠纷，您应当与第三方支付机构协商解决，见习HDC不承担责任。</li>
                <li>3、您在购买“YU+”相关服务的同时,需认真核对服务的项目及范围，并认真核对所需支付的款项。对于您已经确认支付且已经实际消费的款项，见习HDC无法向您提供服务，见习HDC提醒您谨慎操作。</li>
                <li>4、您理解并同意，由于技术条件限制，“YU+”服务完全执行完毕前，系统后台展现的各项数据可能有所延迟。最终结算数据以您下单的某个YU+股务完全执行完毕后为准。</li>
                <li>5、您理解并同意本服务项下所有数据（包括但不限于浏览量等）均由见习HDC提供的系统进行统计并作为结算依据，您如果对本服务项下统计教据存在异议的，应当在每一笔“YU+”服务履行完毕后5日内以书面形式向见习HDC提出异议，否则视为您同意见习HDC的统计数据。</li>
            </ul>
            <ul>
                <li style="font-size: 16px; margin-left: .8rem;">(二) 发票规则</li>
                <li>1、申请开具发票时问；每月1-25日。您当年所有的现金消耗金额，均需在当年公历年度内提出开貝发票申请。如遇跨年，当年所有的充值和消耗金额均需在次年1月31日之前提出开具发票申请，超出时问不予支持开票，赠款金额不开发票。</li>
                <li>1.1、您可向见习HDC申请开具发票。见习HDC将按照您申请的金额和类型开具发票，但您申请的金额不得超过您当前已经实际消耗且未开票的服务费金额。发票抬头为您在使用“YU+”服务时填写的主体全称。</li>
                <li>2、您理解并同意，当您实际开具的发票金额大于或等于500元时，见习HDC可以免费为您邮寄发票(仅限中国大陆地区，不含港澳台)。如您不满足上述包邮条件但又需要发票的，见习HDC保留以到付方式将相应发票寄送给您的权利。如果见习HDC可采用到付的方式为您寄送发票，您应当支付由此产生的各项快递和物流费用。</li>
                <li>3、发票申请流程：您应主动向见习HDC提交申请以及按照系统设定的要求填写相关信息，您提交、填写的信息将会成为发票开具的依据以及部分内容，请您务必真实、准确填写相关信息。如您需取得增值税专用发票，您还需提供增值税一般纳税人证明等材料。因您填写的内容有误而导致的任何后果由您自行承担，见习HDC审核同意受理您的申请后，将在7-30个工作日内，开具好发票并邮寄到您在申请发票时留下的通讯地址，请您确认相关通讯地址真实、可用。寄送发票的快递一经发出，即视为见习HDC已经完成了发票开具义务。因您的通讯地址不真实、不准确、不可用或者其他您的原因而导致您无法获得发票，相关后果由您自行承担。</li>
                <li>4、您理解并同意，一旦见习HDC已经完成了发票开具义务，您的已开票金额将不可撤销的无法申请退款。</li>
            </ul>
            <ul>
                <li style="font-size: 16px; margin-left: .8rem;">(三) 退款规则</li>
                <li>1、当您过系统中终止本服务时,可以申请退款。</li>
                <li>2、退款金额=您的预付款累计余额-应扣费用，其中: “您的预付款累计余额”为您的实际预付款总额扣减全部已经实际发生的服务费总额后的余额；“应扣费用”为依据本协议约定，因您的违约行为，见习HDC可以要求您支付的违约金、赔偿金、补偿金等。以及您的已开票金额、应当补偿给见习HDC的税务和其他附加费用。</li>
                <li>3、您应主功向见习HDC递交申请中，按照见习HDC提供的退款申请方式进行申请</li>
                <li>4、见习HDC收到您的材料，且审核无误后, 会在1-60个工作日内为您办理好退款,退款将退回到原支付时使用的账号或使用“见习HDC”平台时登记的法定名称一致的银行账户中。如双方对退款金额或具他相关事项存在争议的，应先对无争议部分进行退款，对争议部分，双方按照本协议约定的争议解决条款处理。</li>
            </ul>
            <span>六. <strong>免责条款</strong> </span>
            <ul>
                <li>1、您理解并同意：为了向您提供更完善的服务，见习HDC有权定期或不定期地对提供本服务的软件或硬件设施进行检修、维护、升级等，此类情况可能会造成相关服务在合理时间内中断或暂停，此等情况下见习HDC不承担责任。</li>
                <li>2、您理解并同意：本服务是按照现有技术和条件所能达到的现状提供的。见习HDC会尽最大努力维持服务的连贯性和安全性；但不能保证服务毫无瑕疵,也无法随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他时损失和风险。所以您也同意:即使见习HDC提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为见习HDC违约，见习HDC不承担任何责任。</li>
                <li>3、为运营需要，见习HDC有权保存您的信息与联系方式，并出于与本服务相关用途。见习HDC会对您的信息尽最大努力进行保护，但仍不能保证在现有安全技术措施下，您的信息可能会因不可抗力或非见习HDC因素而被泄露、窃取等，见习HDC不承担任何责任。</li>

            </ul>
            <span>七. <strong>通知</strong> </span>
            <ul>
                <li>1、见习HDC可能会以网页公告、网页提示、电子邮箱、手机短信、常规的信件传送、向您注册的本服务帐户的台管理系统内发送站内信等方式中的一种或多种，向您送达更新后的本协议或关于本协议项下版务的各种规则、通知、提示等信息，该等信息一经见习HDC采取前述任何一种方式公布或发送，即视为送达，若您不接受的，请您停止使用“YU+”服务，否则视为您已丝接受、同意。</li>
                <li>2、若由于您提供的电子邮箱、手机号码、通讯地址等信息错误，导致您未收到相关规则、通知、提示等信息的，您同意仍然视为您已经收到相关信息并受其约束，一切后果及责任由您自行承担。</li>
            </ul>
            <span>八. <strong>有效期限与终止</strong> </span>
            <ul>
                <li>1、本协议自您在线同意本服务协议之时起生效，除本协议约定终止情形外，本协议将一直有效。</li>
                <li>2、当发生下述一种或多种情形时，见习HDC有权随时单方终止向您提供本服务:</li>
                <li class="retracts">（1）因不可抗力导致您无法继续使用本服务或见习HDC无法提供本服务的;</li>
                <li class="retracts">（2）您违反本协议或“见习HDC”平台不时公布的其他各项制度规范的;</li>
                <li class="retracts">（3）造成“见习YJ”或其他第三方损失的</li>
                <li class="retracts">（4）本功议约定的其他终止条件发生或实现的。</li>
                <li>3、见习HDC有权根据整体运营安排，随时单方终本协议。</li>
                <li>4、由于您违反本协议约定，见习HDC依约终止向您提供本服务后，您不得直接或间接地以他人的系统帐号注册使用本服务。</li>
                <li>5、若因您的违法行为或违约行为导致见习HDC终止本协议的，见习HDC有权将您剩余的预付款作为违约金而不予退还。</li>
                <li>6、协议生效期间如遇国家法律、法规、国家相关部门及电信运营商有新相关文件出台或政策坏境产生变化，致使本协议之签订、履行基础产生根本性变化的，任何一方可通知对方协商变更原协议。若协商不成，一方可在提前十五日通知对方的情况下终止协议并不承担任何责任。</li>
                <li>7、不论本协议或本服务因为任何原因终止的，见习HDC有权选择保留或删除服务器数据</li>
                <li>8、本协议项下服务的终止并不影响本协议项下未完成的结算或其它在服务终止前已产生的义务的履行或权利的行使</li>
            </ul>
            <span>九. <strong>法律责任声明</strong> </span>
            <ul>
                <li>1、见习HDC不保证（包括但不限于）：</li>
                <li class="retracts">（1）本服务完全适合用户的使用要求;</li>
                <li class="retracts">（2）见习HDC不受干扰，及时、安全、可靠或不出现错误；用户经由见习HDC取得的任何产品、服务或其他材料符合用户的期望；</li>
                <li class="retracts">（3）软件中任何错误都将能得到更正</li>
                <li>2、您基于以下原因而造成的利润、商业信誉、名誉、资料损失或其他有形或无形损失，见习HDC不承担任何直接或间接的、衍生性或惩罚性的赔偿责任（即使见习HDC事先已被告知发生此种赔偿之可能性必然）:</li>
                <li class="retracts">（1）用户对本服务的使用或无法使用；</li>
                <li class="retracts">（2）任何第三方在本服务中所作的声明或行为；</li>
                <li class="retracts">（3）第三方基于您的YU+内容，发生购买商品或服务等行为，从而与您产生的任何纠纷或争议；</li>
                <li class="retracts">;(4)其他与见习HDC相关的事宜，但本用户协议有明确规定的除外。</li>
            </ul>
            <span>十. <strong>其他条款</strong> </span>
            <ul>
                <li>1.本协议内容同时包括见习HDC可能不断发布的关于本服务的其他相关协议、规则等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。</li>
                <li>2.本协议的订立、执行和解释及争议的解决均应适用中国法律。本协议的签署地点为见习HDC所在地北京市，若用户与见习HDC发生争议的，双方同意应将争议提交北京市法院诉讼解决。</li>
            </ul> -->
        </div>
    </div>
</body>

</html>
<script type="text/javascript" src="../../lib/language/multi-lang-es5.js"></script>
<script type="text/javascript" src="../../lib/language/languageJson.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../lib/vue/vue.js"></script>
<script type="text/javascript" src="../../script/const.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript">
    var hot_agreement = new Vue({
        el: "#hot_agreement",
        data: {
            langContent: {}
        },
        created: function() {
            var that = this
            apiready = function() {
                var height = $api.fixStatusBar($api.dom('.header'))
                if (height > 0) {
                    $api.css($api.dom('.cont'), 'margin-top:' + (height - 45) + 'px;');
                }
                hot_agreement.$data.langContent = GlobleLanguageContent.hot_agreement;
            }
        },
        methods: {

        }
    })
</script>
